* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.secondary::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

.secondary::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

.secondary::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the thumb */
    border-radius: 6px;
    /* Rounded corners */
    border: 3px solid #f1f1f1;
    /* Border around the thumb */
}

.secondary::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color when hovering over */
}


.s {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.s input {
    font-size: 20px;
    margin-top: 30px;
    padding-left: 16px;
    width: 20vw;
    height: 44px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
}

.s button {
    margin-top: 30px;
    height: 45px;
    width: 45px;
    background-color: rgb(0, 208, 255);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
}

.location {
    position: absolute;
    left: 63px;
    top: 51px;
}

.location h2 {
    font-size: 30px;
    color: white;
}

.date {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 88%;
    top: 10.5%;
}

.weather {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 450px;
    border-radius: 80px;
    overflow: hidden;
    transition: all 0.2s;
}

.weather:hover {
    width: 81vw;
    height: 460px;
    transition: all 0.1s;
}

.weather h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
}

.weather h3 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.weather p {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 80px;
}

.video {
    position: absolute;
    top: -53%;
    left: -23%;
    width: auto;
    height: auto;
    z-index: -1;
}

.video2 {
    position: absolute;
    top: -53%;
    left: -5%;
    width: 86vw;
    height: auto;
    z-index: -1;
}

.backimg{
    position: absolute;
    top: -133px;
    right: -305px;
    z-index: -1;
}

.details{
    width: auto;
    height: 210px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 22px;
}

.details h1{
    font-size: 22px;
}


.secondary {
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98.8vw;
    height: 350px;
}

.block {
    position: relative;
    overflow: hidden;
    min-width: 160px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s;
}

.block:hover{
    min-width: 180px;
    height: 280px;
    transition: all 0.1s;

}



.none {
    display: none;
}




@media screen and (max-width: 1400px) {
    .date {
        position: absolute;
        left: 83%;
        top: 11.5%;
    }

    .s input {
        width: 42vw;
    }
}

@media screen and (max-width: 1200px) {
    .video {
        position: absolute;
        top: -6%;
        left: -5%;
        width: auto;
        height: auto;
        z-index: -1;
    }
    
    .video2 {
        position: absolute;
        top: -24%;
        left: -5%;
        width: 86vw;
        height: auto;
        z-index: -1;
    }
}


@media screen and (max-width: 1000px) {

    .secondary {
        padding-left: 10px;
        padding-right: 10px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 98.8vw;
        height: 350px;
    }
    
    .block {
        position: relative;
        overflow: hidden;
        min-width: 132px;
        height: 200px;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        transition: all 0.3s;
    }
    
    .block:hover{
        min-width: 132px;
        height: 200px;
        transition: all 0.1s;
    
    }


    .details{
        width: auto;
        height: 180px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 22px;
    }
    
    .details h1{
        font-size: 18px;
    }

    .details h2{
        font-size: 16px;
    }

    .video {
        position: absolute;
        top: -53%;
        left: -23%;
        width: auto;
        height: auto;
        z-index: -1;
    }
    
    .video2 {
        position: absolute;
        top: 0%;
        left: -5%;
        width: 86vw;
        height: auto;
        z-index: -1;
    }


    .date {
        left: 80%;
        top: 11.5%;
        font-size: 25px;
    }

    .location {
        position: absolute;
        left: 63px;
        top: 51px;
    }

    .location h2{
        font-size: 20px;
    }

    .s input {
        width: 42vw;
    }

    .weather {
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 430px;
        border-radius: 50px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .weather:hover {
        width: 80vw;
        height: 430px;
    }
    
    .weather h1 {
        color: rgb(255, 255, 255);
        font-size: 60px;
    }
    
    .weather h3 {
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    
    .weather p {
        color: white;
        font-size: 25px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 750px) {



    .video {
        position: absolute;
        top: -171%;
        left: -136%;
        width: auto;
        height: auto;
        z-index: -1;
    }
    
    .video2 {
        position: absolute;
        top: 0%;
        left: -5%;
        width: 86vw;
        height: auto;
        z-index: -1;
    }




    .date {
        left: 80%;
        top: 13.5%;
        font-size: 25px;
    }

    .location {
        position: absolute;
        left: 40px;
        top: 51px;
    }

    .location h2{
        font-size: 20px;
    }

    .s input {
        width: 42vw;
    }

    .weather {
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 380px;
        border-radius: 50px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .weather:hover {
        width: 80vw;
        height: 380px;
    }
    
    .weather h1 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        margin-top: 63px;
        margin-left: 10px;
    }
    
    .weather h3 {
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .weather p {
        color: white;
        font-size: 20px;
        margin-top: 80px;
    }
}


@media screen and (max-width: 650px) {

    .secondary{
        height: 390px;
    }

    .video2 {
        position: absolute;
        top: -2%;
        left: -23%;
        width: 130vw;
        height: auto;
        z-index: -1;
    }
    .date {
        left: 77%;
        top: 15.5%;
        font-size: 15px;
    }

    .location {
        position: absolute;
        left: 40px;
        top: 51px;
    }

    .location h2{
        font-size: 15px;
    }

    .s input {
        width: 42vw;
    }

    .weather {
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 320px;
        border-radius: 50px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .weather:hover {
        width: 80vw;
        height: 320px;
    }
    
    .weather h1 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        margin-top: 63px;
    }
    
    .weather h3 {
        color: white;
        font-size: 10px;
        margin-top: 10px;
    }
    
    .weather p {
        color: white;
        font-size: 12px;
        margin-top: 80px;
    }
}


@media screen and (max-width: 500px) {

    .date {
        position: absolute;
        margin: 0 auto;
        left: unset;
        top: 66.9%;
        font-size: 15px;
      }
      
    .s{
        height: 140px;
    }

    .main{
        height:350px;
    }

    .secondary {
        padding-left: 10px;
        padding-right: 10px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        width: 98.8vw;
        height: 350px;
    }
    
    .block {
        position: relative;
        overflow: hidden;
        min-width: 112px;
        height: 170px;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        transition: all 0.3s;
    }


    
    .block:hover{
        min-width: 112px;
        height: 170px;
        transition: all 0.1s;
    
    }


    .details{
        width: auto;
        height: 160px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 22px;
    }
    
    .details h1{
        font-size: 12px;
    }

    .details h2{
        font-size: 15px;
    }


    .location {
        position: absolute;
        left: 40px;
        top: 51px;
    }

    .location h2{
        font-size: 15px;
    }

    .s input {
        width: 42vw;
    }

    .weather {
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 320px;
        border-radius: 40px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .weather:hover {
        width: 80vw;
        height: 320px;
    }
    
    .weather h1 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        margin-top: 63px;
    }
    
    .weather h3 {
        color: white;
        font-size: 10px;
        margin-top: 10px;
    }
    
    .weather p {
        color: white;
        font-size: 10px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 400px) {


    .location {
        position: absolute;
        left: 40px;
        top: 51px;
    }

    .location {
        position: absolute;
        left: 15px;
        top: 51px;
    }

    .location h2{
        font-size: 15px;
    }

    .s input {
        width: 42vw;
        font-size: 15px;
    }

    .weather {
        flex-direction: column;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 280px;
        border-radius: 30px;
        overflow: hidden;
        transition: all 0.2s;
    }
    
    .weather:hover {
        width: 80vw;
        height: 280px;
    }
    
    .weather h1 {
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-top: 63px;
    }
    
    .weather h3 {
        color: white;
        font-size: 9px;
        margin-top: 10px;
    }
    
    .weather p {
        color: white;
        font-size: 7px;
        margin-top: 80px;
    }
}



@media screen and (max-width: 1300px) {

    .secondary {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .secondary::-webkit-scrollbar {
        display: none;
    }

    .secondary {
        overflow-y: scroll;
        scrollbar-width: auto;
        -ms-overflow-style: auto;
    }
}